# Node.js & Angular

# Dependências
node_modules/

# Ambientes
.env
*.env
*.local

# Saídas de build
dist/
build/
out-tsc/
.angular/

# Logs e cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
coverage/

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/

# Outros (opcional)
package-lock.json
